https://github.com/mpariente/pystoi
pip install pystoi
or for python3:
pip3 install pystoi


https://github.com/ludlows/python-pesq
pip3 install https://github.com/ludlows/python-pesq/archive/master.zip


si-sdr
https://github.com/sigsep/bsseval


PyTorch


python3


